<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.flashcards">

    <application
        android:name="com.example.flashcards.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo_of_program_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FlashCards">
        <activity
            android:name=".feature.menu.MenuActivity"
            android:screenOrientation="fullSensor"
            android:exported="false" />
        <activity
            android:name=".Menu_en"
            android:exported="false" />
        <activity
            android:name=".trash.Learn_Words_ukr"
            android:exported="false" />
        <activity
            android:name=".feature.learnwords.LearnWordsActivity"
            android:exported="false" />
        <activity
            android:name=".feature.addword.AddWordActivity"
            android:exported="false" />
        <activity
            android:name=".trash.Add_word_en"
            android:exported="false" />
        <activity
            android:name=".feature.aboutme.AboutMeActivity"
            android:exported="false" />
        <activity
            android:name=".trash.About_me_en"
            android:exported="false" />
        <activity
            android:name=".trash.Settings_ukr"
            android:exported="false" />
        <activity
            android:name=".trash.Settings_en"
            android:exported="false" />
        <activity
            android:name=".feature.mywords.MyWordsActivity"
            android:exported="false" />
        <activity
            android:name=".trash.My_words_ukr"
            android:exported="false" />
        <activity
            android:name=".trash.Home_en"
            android:exported="false" />
        <activity
            android:name=".feature.irregularwords.IrregularWordsActivity"
            android:exported="false" />
        <activity
            android:name=".trash.new_words_en"
            android:exported="false" />
        <activity
            android:name=".feature.newwords.NewWords"
            android:exported="false" />
        <activity
            android:name=".feature.main.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>